footer
  .footer-right
    a(href='/about') OpenTorah
    |  made by 
    span.author Jonathan Lee
  .footer-left
    | Nav1 to 2 4 five six seven eight
style.
  footer {
    background-color: rgb(189, 163, 151);
      position: fixed;
      bottom: 0px;
      padding: 0.8em;
      width: 100%;
  }
  body {
    margin-bottom:1em;
  }
  .footer-right {
    
  }
