<!DOCTYPE html>
<html>
    <head>
        <title>Translation</title>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8"/>
    </head>

    <body>
        <table>

            <table id="verse1:1" class="word verse">
                <th rowspan="3" class="verse">1:1</th>
            </table>
            <table id="1" class="word">
                <tr>
                    <td class="picto">משלי</td>
                </tr>
                <tr>
                    <td class="mt">מִשְׁלֵי</td>
                </tr>
                <tr>
                    <td class="xlit">mish'ley</td>
                </tr>
                <tr>
                    <td class="trans">Proverbs Me</td>
                </tr>
                <tr>
                    <td class="trans">Silk of Me</td>
                </tr>
            </table>

            <table id="2" class="word">
                <tr>
                    <td class="picto">שלמה</td>
                </tr>
                <tr>
                    <td class="mt">שְׁלֹמֹ</td>
                </tr>
                <tr>
                    <td class="xlit">Shlo'moh</td>
                </tr>
                <tr>
                    <td class="trans">Shlomoh</td>
                </tr>
                <tr>
                    <td class="trans">Peace</td>
                </tr>
            </table>

                        <table id="3" class="word">
                <tr>
                    <td class="picto">בן</td>
                </tr>
                <tr>
                    <td class="mt">בֶן</td>
                </tr>
                <tr>
                    <td class="xlit">ben</td>
                </tr>
                <tr>
                    <td class="trans">Son</td>
                </tr>
                <tr>
                    <td class="trans">Son of</td>
                </tr>
            </table>

           <!--  <table id="6" class="word newline"> </table> -->

            <table id="4" class="word">
                <tr>
                    <td class="picto">דויד</td>
                </tr>
                <tr>
                    <td class="mt">דָּוִד</td>
                </tr>
                <tr>
                    <td class="xlit">Da'wid</td>
                </tr>
                <tr>
                    <td class="trans">David</td>
                </tr>
                <tr>
                    <td class="trans">a passion like a boiling pot</td>
                </tr>
            </table>

                        <table id="5" class="word">
                <tr>
                    <td class="picto">מלך</td>
                </tr>
                <tr>
                    <td class="mt">מֶלֶךְ</td>
                </tr>
                <tr>
                    <td class="xlit">Me'lk</td>
                </tr>
                <tr>
                    <td class="trans">King</td>
                </tr>
                <tr>
                    <td class="trans">King</td>
                </tr>
            </table>

                        <table id="6" class="word">
                <tr>
                    <td class="picto">יסראל</td>
                </tr>
                <tr>
                    <td class="mt">יִשְׂרָאֵל</td>
                </tr>
                <tr>
                    <td class="xlit">Yis'ra'el</td>
                </tr>
                <tr>
                    <td class="trans">Yisrael</td>
                </tr>
                <tr>
                    <td class="trans">He struggles with el</td>
                </tr>
            </table>


        </table>
    </body>
