.eng
  color #7B4284
  font-family ubuntu

.trans
  padding: 0.7em 0 0.7em 0em;
  direction: ltr;
  transition: all 1s ease

// .trans {
//     opacity: 0;
//     width: 0;
//     height: 0;
//     visibility: hidden;
//     padding: 0;
//   }
