$c_main = #535353
@font-face
  font-family davidMed
  font-style normal
  src url('/fonts/heb/DavidCLM-Medium.ttf') format('truetype')
@font-face
  font-family keter
  font-style normal
  src url('/fonts/heb/KeterYG-Medium.ttf') format('truetype')
@font-face
  font-family davidNew
  font-style normal
  src url('/fonts/heb/davidnew.ttf') format('truetype')

.heb
  font-family davidMed
  font-size 1.37em
  direction rtl
  color $c_main
  a
    color $c_main
    &:hover
      color lighten($c_main,50%)



.word
  position relative

.vnum
  position absolute
  top: 0em;
  right: -.2em;
  width 0em
  height 0em
  color #A9A9A9
  direction rtl
  transition opacity .5s ease, visibility .5s ease
  font-size .8em
  &:hover
    text-decoration underline
