// reset
@require './lib/jonoreset.styl'

// colors
c_reader_bg = rgb(255, 249, 215)
c_gray = #e0e0e0
c_dark_blue = #2d6798
c_graphite = #4B4B4B

// Layout //
#reader
  margin 0 0 0 auto
  width 61.8%
  @media screen and (max-width: 600px)
    width 100%
  background-color c_reader_bg
#readermenu
  padding 1em
  justify-content space-around
  background-color hue(darken(c_reader_bg, 10), 10deg)
#readerContent
  padding 1em
  @media screen and (max-width: 600px)
    padding .5em
    padding-right 1em
  flex-direction row-reverse
  align-content flex-start

.word
  direction rtl
  padding .9em 0.5em
.marker
  &-para
    flex: 1 0 100%
    opacity .3
  &-space
    .heb
      color red !important
    opacity .3
    padding .9em 2em
  &-title
    flex 1 0 100%
    color #a9a9a9
    padding 1em 0 .5em 0
    border-bottom 1px solid
    margin-bottom 1em
    font-family Open Sans
    font-size 1.1em
    text-align center
    text-transform capitalize

@require 'heb'
@require 'eng'

@require 'scrollbars'
